<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/1bcd68af-e392-4b66-9558-697bd7e8dc91/resourceGroups/mspoc-rg/providers/Microsoft.ContainerRegistry/registries/mspocContainerRegistry</ResourceId>
    <ResourceName>mspocContainerRegistry</ResourceName>
    <ResourceGroup>mspoc-rg</ResourceGroup>
    <Subscription>Visual Studio Enterprise</Subscription>
    <RegistryUrl>https://mspoccontainerregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>34e3e154-bfa5-4e9e-b66c-5938a48c1d8a</ProjectGuid>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>